name: Build MAUI Android

on:
    push:
        branches:
            - main
            - "release/*"

jobs:
    build:
        runs-on: macos-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # REQUIRED for GitVersion

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "10.0.x"

            - name: Install MAUI Workload
              run: dotnet workload install maui

            - name: Restore
              run: dotnet restore

            - name: Build ANDROID only
              run: dotnet build ./msbuildtest.csproj -c Release -f net10.0-android /p:CurrentBranch=$GITHUB_REF_NAME
